.customnavbar {
    margin-bottom:100px;
}

.nav-link.active{
    color: rgb(56, 177, 173) !important;
}
.nav-link.disabled{
    color: rgb(163, 224, 224) !important;
}

.navbar-brand{
    color: rgb(56, 177, 173) !important;
}

li{
    list-style: none;
}
/* 
body {
    background-color: gray !important;
  }
   */

